<%-include('partials/_header') -%>
  <body class="dashboard bg_color">
    <nav class="navbar navbar-dark bg-blue nav_bottom">
      <h2 class="nav-brand">GustoTeam</h2>
      <div class="navbar-nav">
        <ul class="nav-list">
         
          <li class="nav-item">
            <a href="/profile" class="nav-link">Profile</a>
          </li>
          
          <li class="nav-item">
            <a href="/logout" class="nav-link">LogOut</a>
          </li>
        </ul>
      </div>
    </nav>
    
     

      
      <% for(let i=0;i< users.length;i++){ %>
        <div class="userlist-body">
        <ul class="profile-list">
              <li class="profile-list-item">
                  <div class="dashboard-container">
                  <div class="avatar-container">  

                    <% if(users[i].avatar){ %>
                      <img src="data:image/png;base64,<%=users[i].avatar %>"  alt="avatar" class="avatar-image" />
                      <%} else{ %>
                      
                        <img src="/img/gusto_logo.jpg" alt="gusto" class="avatar-image" />
                        <%} %>
                    </div>
                      <div class="info-container">
                        <h2 class="user-title"><%=users[i].firstName %> <%=users[i].lastName %></h2>
                        <h3 class="user-username space">@<%=users[i].userName %></h3>
                        <h4 class="user-isAdmin">Admin: <%= users[i].isAdmin %></h4>
                      </div>
                    
                    </div>
              </li>
          </ul> 
       
        </div>
          <%} %>
          

   
 <script>

   const navbar=document.querySelector(".nav-brand");

   navbar.addEventListener("click",()=>{

    location.assign("/");


   });


 </script>
   
  </body>
</html>